.not-found-container {
  text-align: center;
  margin: auto;
  gap: 5rem;
  display: inline;
  padding: 16px;
  height: 100vh;
  justify-content: center;
}
h2 {
  font-weight: normal;
}
.not-found-container h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}
.not-found-container h2 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.not-found-container button {
  margin-top: 16px;
}
